/* -------------------------------------------------------------------------------------------- */
/*CUSTOM SHORTCODES.PHP*/
@media only screen and (max-width: 800px){
    .wp-block-cover .wp-block-cover__inner-container{
     width: 100%;
  }
  
  }
  
  
  .frontpage_news_section_title{
    text-transform: none;
    font-size: 2.5rem;
  }
  .frontpage_news_section_title .uppercase{
    text-transform: uppercase;
  }
  .frontpage_news{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  @media only screen and (min-width: 800px){
    .frontpage_news{
      flex-direction: row;
    }
  }
  .frontpage_news div{
    padding: 2rem;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (min-width: 800px){
    .frontpage_news div{
      align-items: flex-start;
    }
  }
  
  
  .frontpage_news div img{
    //width: auto;
    height: 200px;
  }
  .frontpage_news div img:hover{
    opacity: 0.8;
    color: blue;
  }
  .frontpage_news .frontpage_title{
    text-decoration: none;
    color: white;
    text-align: center;
  }
  @media only screen and (min-width: 800px){
    .frontpage_news .frontpage_title{
      text-align: start;
    }
  }
  .frontpage_news div .news_meta{
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .frontpage_news .news_excerpt{
    text-align: center;
  }
  @media only screen and (min-width: 800px){
    .frontpage_news .news_excerpt{
      text-align: start;
    }
  }
  .news_archive_button{
    text-align: center;
  }
  
  
  