.archive-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  @media (min-width: 782px) {
    flex-direction: row;
  }

  article.status-publish {
    flex: 0 0 33%;
    position: relative;
    padding: 1rem 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.archive-film article.type-film,
.type-fest article.type-film {
  position: relative;
  flex: 0 0 100%;
  padding: 1rem 0;
}

@media (min-width: 782px) {
  .archive-film article.type-film,
  .type-fest article.type-film {
    flex: 0 0 50%;
  }
}

@media (min-width: 1220px) {
  .archive-film article.type-film,
  .type-fest article.type-film {
    flex: 0 0 33.33%;
  }
}

.archive-film .archive-header .archive-header-inner {
  width: 100%;
  max-width: unset;
  padding: 0 calc(10vw + 4rem);
}

.archive-film .archive-title {
  text-align: left;
  font-size: 4rem;
}

@media (min-width: 782px) {
  .archive-film .archive-title {
    font-size: 5rem;
  }
}

.archive-film .archive-title span.color-accent {
  display: none;
}

.archive-film .pagination {
  display: flex;
  justify-content: center;
}

.archive-film .pagination .nav-links {
  width: auto;
  flex-wrap: nowrap;
}
.archive-blog {
  background-color: #e5e5e5;
  color: black;
  padding-bottom: 3rem;

  header {
    background-color: #e5e5e5;
    color: black;
  }

  .archive-blog__filters {
    display: flex;
    font-size: $font__size-mb;
    justify-content: center;

    @media only screen and (min-width: 800px) {
      font-size: $font__size;
    }

    .archive-blog__filter {
      text-decoration: none;
      cursor: pointer;

      &.all {
        color: black;
      }

      &.resena {
        color: #8f3985;
      }

      &.noticia {
        color: #fa824c;
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }

      &.active {
        font-weight: 900;
      }
    }
  }

  .archive-content {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3rem;
    flex-direction: column;
    padding: 0 5%;
    text-align: center;

    @media only screen and (min-width: 800px) {
      flex-direction: row;
      text-align: left;
    }

    figure.blog-item {
      flex-basis: 31%;
      margin: 3rem 1rem;
      width: auto !important;
      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        &:hover {
          .archive-posts__figcaption.title {
            &.noticia,
            &.noticia-2 {
              color: #fa824c;
            }

            &.resena,
            &.resenya {
              color: #8f3985;
            }
          }

          div.img-container {
            div.veiled {
              opacity: 0.6;
              &.noticia,
              &.noticia-2 {
                background-color: #fa824c;
              }

              &.resena,
              &.resenya {
                background-color: #8f3985;
              }
            }

            img {
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
            }
          }
        }

        div.img-container {
          position: relative;

          div.veiled {
            position: absolute;
            height: 210px;
            width: 100%;
            max-width: 100%;
            z-index: 1;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            @media only screen and (min-width: 800px) {
              height: 250px;
            }
          }

          img {
            z-index: 0;
            display: block;
            height: 210px;
            width: 100%;
            max-width: 100%;
            -webkit-filter: grayscale(0%);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            object-fit: cover;

            @media (min-width: 800px) {
              height: 250px;
            }
          }
        }

        figcaption {
          color: black;
          .archive-posts__figcaption {
            &.title,
            &.excerpt,
            &.meta {
              display: block;
              margin: 0.1rem auto;
            }

            &.meta {
              font-size: 12px;
            }

            &.title {
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  .pagination-wrapper {
    display: flex;
    justify-content: center;
    list-style-type: none;
    li {
      cursor: pointer;
      &.active {
        color: #7bcc91;
      }
    }
  }
}
