.entry-content{
  background-color: #111311;
  font-size: 16px;
}
.festival__hero-section {
  flex-flow: column nowrap;
  justify-content: flex-end;
  justify-content: left;
  padding: 3rem 7rem 3rem 7rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  display: flex;
  max-width: 100vw;
  width: 100vw;
  // position: relative;
  .festival__logo{
    position: absolute; 
    top: 10%; 
    left: 10%; 
    position: absolute; 
    bottom: 0; 
    width: auto;
    max-width: 20%;
  }
}
.tabs {
  position: relative;
  min-height: 100px; /* This part sucks */
  min-width: 100vw;
  display: flex;
  justify-content: center;
  clear: both;
  margin: 0 0;
  button:first-child, 
  button:nth-child(2),
  button:nth-child(3){
    background: none;
    height: 5rem;
    width: auto;
    margin-top: 2rem;
  }
  #peliculas-button{
    margin-left:30%;
  }
  #descarga-button{
    margin-left: auto;
    margin-right: 2rem;
    font-size: 1.4rem;
    height: 5rem;
    width: auto;
    margin-top: 2rem;
    border-radius: 2%;
  }
}
.festival__content {
  //position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
#nosotras-content{
  margin-bottom: 0;
  
}
#peliculas-content{ 
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  min-width: 100vw;
}
#contacto-content{
  display: flex;
  justify-content: space-between;
  .content__contacto{
    flex: 1;
    &:first-child{
      margin-right: 6rem;
    }
    
  }

}
.content > * {
  min-width: 50vh;
}
.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
}
.festival__footer{
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  padding-bottom: 6rem;
  .footer__collaborators{
    margin-right: 6rem;
    flex: 1;
  }
  .footer__social{
    flex:1;
  }
  .footer__logos{
    display: flex;
    justify-content: flex-start;
    img{
      width: auto;
      max-width: 130px;
      &:not(:first-child){
        margin-left: 2rem;
      }
    }
  }

}