
.festival__hero-section {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  right: 50%;
  height: 30vh;
  position: relative;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position:center; 
  max-width:unset !important; 
  width: 100vw !important;
  @media only screen and (min-width: 800px) {
    height: 70vh;
    
  }
  .festival__logo{
    position: absolute; 
    top: 10%; 
    left: 10%; 
    position: absolute; 
    bottom: 0; 
    width: auto;
    max-width: 20%;
  }
}
.tabs {
  position: relative;
  min-height: 100px; /* This part sucks */
  min-width: 100vw;
  display: flex;
  justify-content: center;
  clear: both;
  margin: 0 0;
  flex-direction: column;
  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }
  
  button:first-child, 
  button:nth-child(2),
  button:nth-child(3){
    background: none;
    height: 5rem;
    width: auto;
    font-size: 16px;
    text-transform: none;   
    @media only screen and (min-width: 800px) {
      margin-top: 2rem;
      }
  }
  #peliculas-button{
    font-size: 16px;
    text-transform: none;
  }
  #descarga-button{
    font-size: 16px;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 5rem;
    width: auto;
    margin-top: 2rem;
    border-radius: 2%;
    text-transform: none;
    @media only screen and (min-width: 800px) {
      margin-left: auto;
      margin-right: 4rem;
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.festival__content {
  //position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
#nosotras-content{
  margin-bottom: 0;
  p.warning__text{
    margin-top: 5.8rem;
    margin-bottom: 4.8rem;
    text-align: center;
    line-height: 1.1;
  }
  .nosotras__footer{
    padding-top: 7rem;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding-bottom: 6rem;
    flex-direction: column;
    @media only screen and (min-width: 800px) {
    flex-direction: row;
    margin-top: 6rem;
    padding-bottom: 6rem;
    padding-top: 7rem;
    }
    .left__web, .right__social{
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (min-width: 800px) {
        margin-bottom:4rem;
        }
    }
    .right__social{
      margin-top: 4rem;
      @media only screen and (min-width: 800px) {
        margin-top: 0;
        }
    }
    .footer__collaborators{
      margin-right: 6rem;
      flex: 1;
    }
  }
  
}
#peliculas-content{ 
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  min-width: 100vw;
  padding: 0 5%;
  .type-pelicula .entry-content{
    padding: 0 2rem;
    article{
      width: 100%;
      a{
        display: block;
        position: relative;
        .indi_film_details{
          width: 100%;
          border-radius: 0;
          left: 0;
          bottom: 0;
          margin: 0;
        }
      }
    }
  }
}
#contacto-content{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content__contacto{
    margin: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.social{
      margin-bottom: 5rem;
      @media only screen and (min-width: 800px) {
        margin-bottom: 15rem;
        }
    }
    &.mail{
      .contacto__titulo > p{
        color: #7bcc91;
      }
      .contacto__mail{
        color: #7bcc91;
      }
      .contacto__direccion{
        width: 50%;
        text-align: center;
        color: #7bcc91;
      }
    } 
  }

}
.content > * {
  min-width: 50vh;
}
.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.festival article.pelicula .indi_film_details{
  margin: 0px 0px 9px -1px;
  width: 90%;
}

.footer__logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  @media only screen and (min-width: 800px) {
    margin-top: 0;
    }
  .logos__images{
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 800px) {
        flex-direction: row;
        }
    img{
      margin-top: 2rem;
      width: auto;
      max-width: 150px;
      height: 45px;
      object-fit: contain;
      @media only screen and (min-width: 800px) {
        margin-left:2rem;
        }
      &:first-child{
        margin-left: 0;
      }
    }
  }
  
}
.social__logos{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  #twitter-link svg, #youtube-link svg{
    fill: #7bcc91;
  }
  #instagram-link svg, #facebook-link svg{
    stroke: #7bcc91;
  }
  a{
    &:last-child{
      padding-top: 2px;
    }
    margin: 0 1rem;
    svg{
      height: 34px;
      width: 34px;
      &:last-child{
        transform: translateY(10px);
      }
        
    }
  }
}
p.contacto__titulo{
  font-weight: 600;

} 