$font__size: 18px;
$font__size-mb: 16px;
$font__size-title: 40px;
$font__size-title-mb: 32px;
$font__size-subtitle: 24px;
$font__size-subtitle-mb: 18px;
$font__size-tag: 16px;
$font__size-tag-mb: 12px;
$font__size-small: 12px;
$font__size-small-mb: 10px;