/*ASYNC GRID ARCHIVE POSTS*/
#archive-posts{
    background-color: #E5E5E5;
    color: black;
    padding-bottom: 3rem;
    header {
        background-color: #E5E5E5;
        color: black;
    }
    .archive-posts__filters{
        display: flex;
        font-size: $font__size-mb;
        @media only screen and (min-width: 800px){
            font-size: $font__size;
        }
        justify-content: center;
        .archive-posts__filter.async-filter{
            text-decoration: none;
            &.all{
                color: black;
            }
            &.resena{
                color: #8F3985;
            }
            &.noticia{
                color:#FA824C
            }
            cursor: pointer;
            &:not(:first-child){
                margin-left: 2rem;
            }
            &.active{
                font-weight: 900;
            }

        }
        

    }

    .archive-posts__grid.async-grid{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 3rem;
        flex-direction: column;
        padding: 0 2rem;
        text-align: center;
        @media only screen and (min-width: 800px){
            flex-direction: row;
            text-align: left;
            padding: 0;
        }
        figure.grid-item{
            flex-basis: 31%;
            // position: relative;
            margin: 3rem 1rem;
            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover{
                    .archive-posts__figcaption.title{
                        &.noticia, &.noticia-2{
                            color: #FA824C;
                        }
                        &.resena, &.resenya{
                                color: #8F3985;
                            }
                    }
                    div.img-container{
                        div.veiled{
                            opacity: 0.6;
                            &.noticia, &.noticia-2{
                                background-color: #FA824C;
                            }
                            &.resena, &.resenya{
                                background-color: #8F3985;
                            }
                        }
                        img{
                            -webkit-filter: grayscale(100%);
                            filter: grayscale(100%);
                        }

                    }
                    
                }
                div.img-container{
                    position: relative;
                    div.veiled{
                        position: absolute;
                        height: 210px;
                        width: 100%;
                        max-width: 100%;
                        z-index: 1;
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                        @media only screen and (min-width: 800px){
                            height: 250px;
                        }
                    }
                    // .post-tag{
                    //     position: absolute;
                    //     z-index: 1;
                    //     bottom: 0;
                    //     color: white;
                    //     background: orange;
                    //     width: 30%;
                    //     height: 3rem;
                    //     padding-top: 0.5rem;
                    //     text-align: center;
                    //     left: -6px;
                    // }
                    img{
                        z-index: 0;
                        display: block;
                        height: 210px;
                        width: auto;
                        max-width: 100%;
                        -webkit-filter: grayscale(0%);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                        @media only screen and (min-width: 800px){
                            height: 250px;
                        }
                    }
                }
                
                figcaption {
                    color: black;
                    .archive-posts__figcaption{
                        &.title, &.excerpt, &.meta{
                            display: block;
                            margin-top: 1rem; 
                        }
                        &.meta{
                            font-size: 12px;
                        }
                        &.title{
                            font-size: 32px;
                            -webkit-transition: .3s ease-in-out;
	                        transition: .3s ease-in-out;
                        }
                    }
            
                }
                
            } 
            
        }
    }    
    .archive-posts__pages.async-pager{
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
            cursor: pointer;
            &.active{
                color: #7bcc91;
            }
        }
        

    }
}

