article.single-post{
    background: #E5E5E5;
    color: black;
    
    .post-heading{
        text-align: center;
        padding: 4rem 0;
        .post-heading__category p{
            text-transform: uppercase;
            color: #7CCD90;
            font-size: $font__size-tag;
        }
        .post-heading__post-title h1{
            font-size: $font__size-title;
            margin: 3rem 0;
        }
        .post-heading__post-title p{
            font-size: $font__size-subtitle;
            margin: 3rem 0;
        }
        .post-heading__post-details p {
            margin: 3rem 0;
            display: inline;
            font-size: $font__size-small;
            &.bold{
                font-weight: 700;
            }
            
        }
        .post-heading__feat-img{
            padding: 0 2rem;
            margin-top: 5rem;
            @media only screen and (min-width: 800px){
                padding: 0 14.7rem;
            }
            
            

        }
    }

    .related-posts__section{
        padding: 0 2rem;
        margin-top: 5rem;
        @media only screen and (min-width: 800px){
            padding: 0 14.7rem;
        }
        .related-posts{
            .related-posts__grid{
                display: flex;
                justify-content: space-between;
                .grid-item{
                    flex-basis: 30%;
                    align-items: center;
                    a img{
                        width: auto;
                        height: 170px;
                    }
                }
            }
        }

    }
   
}