article.single-post{
    background: #F2F2F2;
    color: black;

    font-size: $font__size-mb;
    @media only screen and (min-width: 800px){
        font-size: $font__size;
    }

    
    .post-heading{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        //max-width: 100rem;
        padding: 8rem 0;
        width: calc(100% - 4rem);
        @media only screen and (min-width: 800px){
            width: calc(100% - 50rem);
        }

        .post-heading__category p{
            margin-bottom: 8rem;
            text-transform: uppercase;
            &.noticia, &.noticia-2{
                color: #FA824C;
            }
            &.resena, &.resenya{
                color: #8F3985;
            }
            font-size: $font__size-tag-mb;
            @media only screen and (min-width: 800px){
                font-size: $font__size-tag;
            }
            
        }
        .post-heading__post-title h1{
            font-size: $font__size-title-mb;
            margin: 3rem 1rem;
            @media only screen and (min-width: 800px){
                font-size: $font__size-title;
            }
        }
        .post-heading__post-title p{
            font-size: $font__size-subtitle-mb;
            margin: 3rem 0;
            @media only screen and (min-width: 800px){
                font-size: $font__size-subtitle;
            }
        }
        .post-heading__post-details p {
            margin: 3rem 0;
            display: inline;
            font-size: $font__size-small-mb;
            @media only screen and (min-width: 800px){
                font-size: $font__size-small;
            }
            &.bold{
                font-weight: 700;
            }
            
        }
    }
    .post-inner .entry-content, .wp-block-columns{
        font-family: "habibi", sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 4rem);
        @media only screen and (min-width: 800px){
            width: calc(100% - 50rem);
        }
        > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.um){
            // margin-left: auto;
            // margin-right: auto;
            width: 100%;
        }
        
    }
    .related-film__section{
        margin-top: 6rem;
        background-color: #7ccd90;
        .related-film__content{
            margin-left: auto;
            margin-right: auto;
            //max-width: 100rem;
            width: calc(100% - 4rem);
            padding-top: 0.5rem;
            @media only screen and (min-width: 800px){
                width: calc(100% - 25rem);
            }
            .section-title{
                text-transform: none;
                color: black;
                letter-spacing: 0rem;
                font-size: $font__size-title-mb;
                @media only screen and (min-width: 800px){
                    font-size: $font__size-title;
                }
        
                
            }
            .related-film__film{
                justify-content: center;
                display: flex;
                flex-direction: column;
                padding-bottom: 8rem;
                @media only screen and (min-width: 800px){
                    flex-direction: row;
                }
                .details__player{
                    position: relative;
                    .indi_play_img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        height: 65px;
                        width: 65px;
                    }   
                    img.film-cover{
                        width: auto;
                        @media only screen and (min-width: 800px){
                            max-width: 40rem;
                        }
                    }
                }
                .details__details{
                    margin-top: 2rem;
                    @media only screen and (min-width: 800px){
                        margin-left: 2rem;
                    margin-top: auto;
                    }
                    p{
                        line-height: 1.2;    
                        margin: 0;
                        &.bold{
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
                
            }
        }
    }
    .related-posts__section{
        margin-left: auto;
        margin-right: auto;
        //max-width: 100rem;
        width: calc(100% - 4rem);
        margin-top: 6rem;
        @media only screen and (min-width: 800px){
            width: calc(100% - 25rem);
        }

        .section-title{
            text-transform: none;
            color: black;
            letter-spacing: 0rem;
            font-size: $font__size-title-mb;
            @media only screen and (min-width: 800px){
                font-size: $font__size-title;
            }
    
            
        }
        .related-posts{
            
            .related-posts__grid{
                display: flex;
                flex-direction: column;
                @media only screen and (min-width: 800px){
                flex-direction: row;
                justify-content: flex-start;
                
                }
                .grid-item{
                    flex-basis: 33%;
                    align-items: center;
                    margin-bottom: 4rem;
                    position: relative;
                    @media only screen and (min-width: 800px){
                        &:not(:first-child){
                            margin-left: 3%;
                        }
                    }
                    div.veiled{
                        position: absolute;
                        height: 180px;
                        width: 100%;
                        max-width: 100%;
                        z-index: 1;
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                        @media only screen and (min-width: 800px){
                            height: 205px;
                        }
                    }
                    &:hover{
                        div.veiled{
                            opacity: 0.6;
                            &.noticia, &.noticia-2{
                                background-color: #FA824C;
                            }
                            &.resena, &.resenya{
                                background-color: #8F3985;
                            }
                        }
                        a img {
                            -webkit-filter: grayscale(100%);
                            filter: grayscale(100%);
                        }
                        h5 a {
                            &.noticia, &.noticia-2{
                                color: #FA824C;
                            }
                            &.resena, &.resenya{
                                color: #8F3985;
                            }

                        }
                    }
                    
                    a img{
                        cursor: pointer;
                        width: fit-content;
                        height: 180px;
                        -webkit-filter: grayscale(0%);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                        @media only screen and (min-width: 800px){
                            height: 205px;
                        }
                        
                    }
                    h5{
                        margin-bottom: 1rem;
                        a{
                            cursor: pointer;
                            text-decoration: none;
                            color: black;
                        }
                    }
                    .post-details{
                        // font-weight: 700;
                        margin-top: 0;
                        font-size: $font__size-small-mb;
                        @media only screen and (min-width: 800px){
                            font-size: $font__size-small;
                        }
                        
                        p{
                            margin-top: 0;
                            display: inline;
                        }
                    }
                   
                    .post-excerpt{
                        margin-top: 2rem;
                        font-size: $font__size-mb;
                    }
                }
            }
        }

    }
    .wp-block-buttons.is-content-justification-center{
        padding: 6rem 0;
        a {
            color: black;
        }
    }
   
}