
.indi_film_not_available_carroussel{
    font-size: 10px;
    margin-right: 5px;
    text-align: end;
    bottom: 0;
    position: absolute;
    right: 0;
    background: #FF7E74;
    padding: 3px;
    font-weight: 800;
    border-radius: 5px;
    opacity: 1;

}

